body {
  background-color: #c7b39b;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

p {
  text-align: center;
  color:black;
  font-size: 27px;
}

li {
  color:black;
  font-size: 20px;
}

ul {
  color:black;
  font-size: 24px;
}